<ion-view style="" title="讲故事">
    <ion-content class="has-header" overflow-scroll="true" padding="true">

        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="输入想讲的故事吧">
            </label>
        </form>


        <div class="row" ng-repeat="image in images" ng-if="$index % 2 === 0">
            <div class="col col-33" ng-if="$index < images.length">
                <div class="card">
                    <img ng-src="{{images[$index].src}}" width="100%" height="100px" ng-click="loadStoryList({{images[$index].id}})">
                    <h6 class="cate_name">{{images[$index].name}}</h6>
                </div>
            </div>
            <div class="col col-33" ng-if="$index + 1 < images.length">
                <div class="card">
                    <img ng-src="{{images[$index + 1].src}}" width="100%" height="100px" ng-click="loadStoryList({{images[$index+ 1].id}})">
                    <h6 class="cate_name">{{images[$index + 1].name}}</h6>
                </div>
            </div>
            <div class="col col-34" ng-if="$index + 2 < images.length">
                <div class="card">
                    <img ng-src="{{images[$index + 2].src}}" width="100%" height="100px" ng-click="loadStoryList({{images[$index+ 2].id}})">
                    <h6 class="cate_name">{{images[$index + 2].name}}</h6>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>