<ion-view style="" title="米小兔故事机">
    <ion-tabs style="" class="tabs-color-balanced tabs-icon-top">
        <ion-tab style="" title="讲故事" icon="ion-mic-a" href="#/tabs/speakStory">
            <ion-nav-view name="speakStory"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="语音交互" icon="ion-headphone" href="#/tabs/voiceControl">
            <ion-nav-view name="voiceControl"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="我" icon="ion-person" href="#/tabs/myProfile">
            <ion-nav-view name="myProfile"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>